{{if (ne .Var1 .Var2)}}
    var1 is not equal var2
    {{if (gt .Var1 .Var2)}}
        and var 1 is greater than var2
    {{else}}
        var2 is greater than var1
    {{end}}

{{else}}
    var1 is equal to var2
{{end}}

{{range .Values}}{{.}}{{end}}